<template>
    <div class="hello">
        <div class="hello-bg"></div>
        <div class="hello-front">
            <span class="icon-busy hello-icon"></span>
            <h1>Web App</h1>
            <p>vue-cli3 + cube-ui</p>
            <ul>
                <li v-for="(item, index) in templates" :key="index">
                    <h2>{{item.name}}</h2>
                    <p>{{item.description}}</p>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    name: 'HelloWorld',
    data () {
        return {
            templates: []
        }
    },
    created () {
        this._getTemplates()
    },
    methods: {
        _getTemplates () {
            this.$http.getTemplates().then(res => {
                this.templates = res
            })
        }
    }
}
</script>

<style lang="stylus">
    .hello
        text-align center
        position fixed
        top 0
        right 0
        bottom 0
        left 0
        h1
            font-size $fontsize-large-xx
            margin 20px 30px
            text-shadow 2px 2px 4px $color-shadow-bg
        ul
            margin-top 20px
            width 60%
            margin-left 20%
            text-align left
            li
                list-style bengali
                h2
                    font-size $fontsize-medium
                p
                    margin-top 5px
                    color $color-grey
                    font-size $fontsize-small
            li + li
                margin-top 10px
        &-icon
            font-size $fontsize-large-xxx
        &-bg
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            -webkit-filter: blur(10px); /* Chrome, Opera */
            -moz-filter: blur(10px);
            -ms-filter: blur(10px);
            filter: blur(10px);
            background: #7d7eff;
            background: -moz-linear-gradient(-45deg, #7d7eff 0%, #ff8eba 100%);
            background: -webkit-linear-gradient(-45deg, #7d7eff 0%,#ff8eba 100%);
            background: linear-gradient(135deg, #7d7eff 0%,#ff8eba 100%);
        &-front
            width 100%
            height 100%
            position absolute
            top 0
            left 0
            padding-top 20%
            box-sizing border-box
            z-index 10
</style>
