<template>
    <div id="app" @touchmove.prevent>
        <router-view/>
    </div>
</template>
<script>
export default {
    data() {
        return {}
    },
    created() {
    },
    methods: {},
    components: {}
}
</script>
<style lang="stylus">
</style>
